# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
site/
wheels/
*.egg-info

# Virtual environments
.env
.venv/
venv/

# Cache
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/

# Jupyter Notebooks
.ipynb_checkpoints

# Sphinx auto-summary
docs/source/api/*
!docs/source/api/index.rst

# IntelliJ
.idea/
.run/

# macOS
.DS_Store

# VSCode
.vscode/
